bs4
faster_whisper
ffmpeg-python
google-generativeai
librosa
matplotlib
numpy
open-clip-torch
openai
openai-whisper
"opencv-python-headless==4.8.1.78"
Pillow
python-dotenv
pyyaml
requests
scenedetect
selenium
torch
webdriver-manager