# Sample videos, caches, outputs
examples/
cache
output
generated

# Python cache
__pycache__/
*.py[cod]

# Ignore all __pycache__ folders recursively
**/__pycache__/

# Python logger
*.log
.env

# Datasets
heatmap_dataset.jsonl